.elements{
    margin: 47px auto 0;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 17px 20px;
}

@media screen and (max-width: 320px) {
    .elements {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}