.profile__name {
    margin: 0 0 16px 30px;
    padding-top: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 320px) {
    .profile__name {
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}